venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.vscode/
.pytest_cache/
.env
data/*.db
Rosp_anomoly/

OS-Compliance-Engine/venv/
OS-Compliance-Engine/__pycache__/

Rosp_anomaly/venv/
Rosp_anomaly/__pycache__/

Infrashield-feature-network-policy-scanner/venv/
Infrashield-feature-network-policy-scanner/__pycache__/
